<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .yhyh:hover{
            transform: scale(1.1);
        }
        .hyu{
            text-align: center;
            color:rebeccapurple;
            box-shadow: none;
        }
    </style>
    <title>Document</title>
</head>
<body> 

    <div class="container">
        <br>

    <h1 class="hyu"><i>URL Shortener</i></h1>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <!-- <label for="fullUrl" class="sr-only">Url</label> -->
        <input required type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2" placeholder="Your Url here">
        <br>
        <!-- <label for="note" class="sr-only">Note</label> -->
        <input required type="text" name="note" id="note" class="form-control col mr-2 " placeholder="Note">
        <br>
        <div class="hyu">
        <button class="btn btn-success rounded-pill yhyh" type="submit">Shorten</button>
    </div>
    </form>


    <br>
    <form action="/search" method="get" class="my-4 form-inline row">
        <input required type="text" name="dsearch" id="dsearch" class="form-control col mr-2 me-3" placeholder="Search any url or note">
        <br>
        <button class="btn btn-warning col-md-2 yhyh" type="submit">Search</button>
    </form>

    <br>

    <%if(data.length>0){%> 

    <table class="table table-striped table responsive mb-3">
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Note</th>
                <th>Short Url</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(shortUrl){ %>
                <tr>
                    <td><a href="<%= shortUrl?.full %>" target="_blank"><%= shortUrl?.full %></a></td>
                    <td><%= shortUrl?.note %></td>
                    <td><a href="<%= shortUrl?.short %>" target="_blank"><%= shortUrl?.short %></a></td>
                    <td><%= shortUrl?.clicks %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <%}else{%> 
        <h3>No such Data Found</h3>
    <%}%> 

    <%if(data.length < 4){%> 
        <h3><a href="/">Go Back</a></h3>
    <%}%>

    <br>
  
</div>
</body>
</html>